<div class="form">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>&#9733; <b>Create</b> Post &#9733;</span>
      </ng-template>
      <ng-template ngbPanelContent>


        <form  (ngSubmit)="submitHandler()">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" name="title" placeholder="Title ..." [(ngModel)]="post.title"/>
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <input type="text" id="content" name="content"  placeholder="Content ..." [(ngModel)]="post.content" class="form-control" />
          </div>
          <div class="form-group">
            <button  class="btn btn-success" type="submit">add</button>
          </div>
        </form>

      </ng-template>
    </ngb-panel>

  </ngb-accordion>



</div>
